@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";

// #header {
//   height: 100px;
//   background: #89A789;
// }
.navbar-inverse{
  background-color: #438043;
  border-color: #438043;
  color: white;
}

.tip-trick {
  color: #438043;
}

.nav-pills > li.active > a:focus {
  background-color: #5cb85c;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: #5cb85c;
}

.nav-pills > li > a {
  background-color: #82B54A;
  color: white;
}

.nav-pills > li > a:hover {
  background-color: #329632;
}

.nav-pills > li.active > a:hover {
  background-color: #329632;
}

.side-bar {
  margin-top: 26px;
}

.navbar {
  min-height: 100px;
}

.menu-btn {
  border-radius: 45px;
  height: 46px;
}

#user-side-menu {
  margin-top: 22px;
  background-color: #5cb85c;
}

.dropdown-menu{
  margin-left: 230px;
}
// .menu-link {
//   height: 50px;
// }
body {
  background-color: #F1F1F1;
}

.alert-alert {
  color: red;
}

.alert-notice {
  color: green;
}

.page-title {
  background-color: green;
  color: white;
  background: linear-gradient(to right, #5CB85C, #C2E4C2);
  width: 70%;
}

.page-tabs {
  background-color: green;
  color: white;
  background: linear-gradient(#438043, #82B54A);
  width: 100%;
}


.admin-page-tabs {
  background-color: #3C8DBC;
  color: white;
  background: linear-gradient(#3C8DBC, #3C8DBC);
  width: 90%;
}

.admin-page-tabs > .nav-pills > li > a {
  background-color: #3C8DBC;
  color: white;
}

.footer {
  height: 200px;
  margin:20px;
}

.option-column {
  width: 10%;
}

.content-column {
  width: 80%;
}

.correct-column {
  width: 10%;
}

.table {
  width: 100%;
}

.main-question-content {
  margin-top: 40px;
}

.question-option {
  margin-top: 20px;
}

.contribute-button {
  margin-top: 24px;
}

.order-column {
  width: 10%;
}
.audio-column {
  width: 40%;
}
.photo-column {
  width: 20%;
}
.level-column {
  width: 10%;
}
.action-column {
  width: 10%;
}
