<%= render "shared/page_title", title: "Examinations" %>
<table class="table">
  <thead>
    <tr>
      <th>Tests</th>
      <th>Type</th>
      <th>Views</th>
      <!-- <th>Rate</th> -->
      <!-- <th>Best score</th> -->
    </tr>
  </thead>
  <tbody>
    <% @examinations.each do |examination| %>
        <tr>
          <td>Test <%= examination.id %></td>
          <td><%= link_to examination.examination_type, new_examination_answer_sheet_path(examination) %></td>
          <td><%= examination.answer_sheets.count %></td>
        </tr>
    <% end %>
  </tbody>
</table>
